# Repository Administrator
* @tomtwinkle @KamikazeZirou @replu @bushiyama @nelnal

# Main contributor per package
/aws @tomtwinkle
/cerrors @KamikazeZirou
/emailvalidator @replu
/envlookup @tomtwinkle
/errgroup @KamikazeZirou
/hashutil @tomtwinkle
/osext @KamikazeZirou
/sql-escape @KamikazeZirou
/tspb_cast @KamikazeZirou
/ulid @tomtwinkle
/utf8bom @tomtwinkle
