name: 'Auto Assign'
on:
  pull_request_target:
    types: [opened, ready_for_review]

jobs:
  add-reviews:
    runs-on: ubuntu-22.04
    steps:
      - uses: kentaro-m/auto-assign-action@a6d59add3a817df08cafa9b166367768d2c337f8 # v2.0.1
        with:
          configuration-path: '.github/auto_assign_configs.yaml'
