# PR単位で差分があるファイルに対してSecretlint(シークレットスキャンツール)を実行し、
# アクセストークンなど秘匿すべき値をPRコメントで指摘するワークフローです
# 詳細は以下のドキュメントをご参照ください
# https://andpad-dev.esa.io/posts/8984

name: secretlint

on:
  pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  secretlint:
    name: secretlint
    runs-on: ubuntu-22.04
    # Skip any PR created by dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1 # v3.5.3
        with:
          fetch-depth: 0
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      - id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
      - name: Run secretlint
        if: steps.changed-files.outputs.all_changed_files_count != '0'
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker run \
            -v $(pwd):/workdir \
            -w /workdir \
            secretlint/secretlint:v9.2.0@sha256:ab6638799087b65bb044d08143e3f950467ca8905cea582a5911578b2026f5b6 \
            secretlint --format checkstyle ${{ steps.changed-files.outputs.all_changed_files }} \
            | sed 's#="/workdir/#="#g' \
            | reviewdog -f=checkstyle -reporter=github-pr-review -diff="git diff FETCH_HEAD"
