name: Test hashutil

on:
  push:
    branches:
      - main
    paths:
      - "hashutil/**"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "hashutil/**"
env:
  testdir : ./hashutil

jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.24.x ]
        os: [ ubuntu-22.04 ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - name: Install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Go Module Download
        working-directory: ${{ env.testdir }}
        run: |
          go install gotest.tools/gotestsum@latest
          go mod download

      - name: Test
        working-directory: ${{ env.testdir }}
        timeout-minutes: 3
        run: |
          # shellcheck disable=SC2046
          gotestsum --junitfile unit-tests.xml -- -v ./... -race -coverprofile="coverage.txt" -covermode=atomic -coverpkg=./...

      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ env.testdir }}/coverage.txt
